<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify | default: Contact Us }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="text-center">
      	<div class="section-heading"><h4>{{ site.data.sitetext[site.locale].contact.phone.title }}</h4></div>
      	<div class="section-heading"><h5>{{ site.data.sitetext[site.locale].contact.phone.number }}</h5></div>
      	<div class="section-heading"><h4>{{ site.data.sitetext[site.locale].contact.email.title }}<h4></div>
      	<div class="section-heading"><h5>{{ site.data.sitetext[site.locale].contact.email.address }}<h5></div>
        </div>
        <br/>
      </div>
      <div class="col-sm-6">
        <div class="text-center">
        {% for item in site.data.sitetext[site.locale].contact.address %}
        <div class="section-heading"><h4>{{ item }}</h4></div>
		{% endfor %}
		</div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->