<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].pricing.section | default: "pricing" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].pricing.title | default: "Pricing" }}</h2>
          {% if site.data.sitetext[site.locale].pricing.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].pricing.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
	  {% for group in site.data.sitetext[site.locale].pricing.groups %}
	  <div class="row">
	  <table class="table">
	    <thead>
	      <tr>
	        <th><h4>{{ group.name }}</h4></th>
	        <th><h5 class="col-price">{{ site.data.sitetext[site.locale].pricing.price }}</h5></th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for item in group.items %}
	      <tr>
		    <td>{{ item.name }}</td>
	        <td class="col-price">{{ item.price }}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  </div>
	  {% endfor %}
<!-- 
      <div class="row text-center">
	  {% for service in site.data.sitetext[site.locale].services.list %}
        <div class="col-md-6">
          <span class="fa-stack fa-6x">
            {% if service.icon %}
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
            {% else if service.image %}
<!~~ 
            <div style="width: 2em; height: 2em; margin: 0 0.25em; border-radius: 50%; background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url('{{ service.image }}')"></div>
 ~~>
 			<div class="timeline-image" style="width: 2em; height: 2em; margin: 0 0.25em;">
 			<img class="rounded-circle img-fluid" style="border: 7px solid #e9ecef;" src="{{ service.image }}">
 			</div>
            {% endif %}
          </span>
          <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}<div class="text-muted" style="text-align: justify;">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>
 -->
	  
    </div>
  </section>
<!-- End Services -->